:root {
  --bg: #ffffff;
  --title-fg: #333333;
  --fg: #555555;
  --opacity: 1;
}

.dashboard-container {
  text-align: center;
  margin-top: 1.125rem;
}

.card {
  background-color: var(--bg);
}

.card-title {
  font-size: 1rem;
  color: var(--title-fg);
}

.card-title > a {
  color: var(--title-fg);
}

.graph-card {
  height: 100%;
}

.fixed-mempool-graph {
  height: 330px;
}

@media (min-width: 768px) {
  .mempool-graph, .fixed-mempool-graph {
    height: 345px;
  }
}

@media (min-width: 992px) {
  .dashboard-container {
    padding-bottom: 0;
  }
  .graph-card {
    height: 385px;
  }
  .mempool-graph, .fixed-mempool-graph {
    height: 439px;
  }
}

#blockchain-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#blockchain-container::-webkit-scrollbar {
  display: none;
}

.fade-border {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 80%, transparent 100%);
}

.main-title {
  position: relative;
  color: var(--fg);
  opacity: var(--opacity);
  margin-top: -0.8125rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.1875rem;
}

.more-padding {
  padding: 1.5rem 1.25rem;
}

.card-wrapper .card {
  height: auto;
}

.card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.375rem 1.25rem;
  text-align: center;
}

.skeleton-loader {
  width: 100%;
  display: block;
}

.skeleton-loader:first-child {
  max-width: 5.625rem;
  margin: 0.9375rem auto 0.1875rem;
}

.skeleton-loader:last-child {
  margin: 0.625rem auto 0.1875rem;
  max-width: 3.4375rem;
}

.title-link,
.title-link:hover,
.title-link:focus,
.title-link:active {
  display: block;
  margin-bottom: 0.625rem;
  text-decoration: none;
  color: inherit;
}

.card-body.pool-ranking {
  padding: 0.75rem 0.15625rem 0.4375rem 0.15625rem;
}

.card-text {
  font-size: 1.375rem;
}
